body {
  background-color: black;
}

header {
  font-family: "Barrio", cursive;
  color: white;
  padding-top: 0.2em;
}

h2 {
  color: white;
  font-family: "Barrio", cursive;
}

.container {
  width: 50%;
  padding: 0.3em;
}

main {
  color: white;
}

.purple {
  color= purple;
}

aside {
  float: right;
  border: solid;
  border-color: white;
  border-width: thick;
  margin-right: 3%;
  width: 24%;
  margin-top: -45%;
  font-family: "Barrio", cursive; 
}

footer {
  font-family: "Barrio", cursive;
  width: 100%;
  position: fixed;
  color: white;
  font-size: 1rem;
  top: 97%;
  bottom: 0;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}